<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.png') }}" />
        <title>Meander</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
        <script src="static/snap/snap.svg-min.js"></script>
        <script src="static/js/meander.js"></script>
    </head>
    <body>
    <h1>A Meander Pattern</h1>
        <p>I wanted to try recreating the "Saving" animation from Assassin's Creed Odyssey. I used <a href="http://snapsvg.io/">SnapSVG</a></p>
        <p>What is an <a href="https://en.wikipedia.org/wiki/Meander_(art)">Meander</a> pattern? It's common in a lot of Greek pottery and art. The animation below is an example of one</p>
        <p>This is my first go at using SnapSVG. I'm sure I'm NOT using it correctly, but it's a fun library to play with. Plus, my JavaScript sucks. I couldn't figure how to use Promises so I could call the anmiation functions one after another. Well, I coulnd't figure it out in time for this assignment.</p>
        <div id="meanderDiv"></div>
    </body>
</html>